@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.editor {
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 2rem;
  padding: 5px;
  height: 60px;
  width: 100%;
  background-color: #474545;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.column {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  flex-direction: row;
}

.code-write {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #8a8a8a;
}

#editor1 {
  width: 100%;
  height: 50%;
  font-size: 1rem;
  color: #fff;
}

.code-output {
  width: 50%;
  height: inherit;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
}

.css-js {
  width: 100%;
  height: 50%;
  resize: none;
  border-right: none;
  outline: none;
  display: flex;
  flex-direction: row;
}

#editor2,
#editor3 {
  height: 100%;
  width: 43%;
  font-size: 1rem;
  color: #fff;
}

#editor3 {
  width: 57%;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Moral of the story is always write media query at the bottom after all the css */

@media (max-width: 1000px) {
  #editor1 {
    height: 33.33%;
  }
  .css-js {
    height: 66.67%;
    flex-direction: column;
  }
  #editor2,
  #editor3 {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 500px) {
}
