@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.editor {
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 2rem;
  padding: 5px;
  height: 60px;
  width: 100%;
  background-color: #8a8a8a;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.column {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  flex-direction: row;
}

.code-write {
  width: 50%;
  height: inherit;
}

.code-output {
  width: 50%;
  height: inherit;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  height: inherit;
  border-right: 3px solid #8a8a8a;
}

.html {
  height: 50%;
  resize: none;
  border-right: none;
  outline: none;
}

.css-js {
  height: 50%;
  width: 100%;
  resize: none;
  border-right: none;
  outline: none;
  display: flex;
  flex-direction: row;
}

.css,
.js {
  width: 50%;
  resize: none;
  outline: none;
}

textarea {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  letter-spacing: 2px;
  border-right: none;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Moral of the story is always write media query at the bottom after all the css */

@media (max-width: 1000px) {
  .html {
    height: 33.33%;
  }
  .css-js {
    height: 66.67%;
    flex-direction: column;
  }
  .css,
  .js {
    width: 100%;
    height: 50%;
  }
}
