@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.editor {
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 2rem;
  padding: 5px;
  height: 60px;
  width: 100%;
  background-color: #474545;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.column {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  flex-direction: row;
}

.code-write {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #8a8a8a;
}

#editor1 {
  width: 100%;
  height: 33.33%;
  font-size: 1rem;
  color: #fff;
}

.code-output {
  width: 50%;
  height: inherit;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
}

.info {
  text-align: right;
  padding: 2px;
  font-size: 0.9rem;
  background-color: #dfd0d0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bolder;
}

#editor2,
#editor3 {
  height: 33.33%;
  width: 100%;
  font-size: 1rem;
  color: #fff;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
}
